{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'scss/components/sidebar.css' %}" />
  </head>
  <body>
    <div class="sidebar">
      <div class="top">
        <img src="{% static 'images/logo.png' %}" class="logo" alt="" />
      </div>
      <div class="profile">
        {% if user %}
        <img src="{{ user.avatar.url }}" alt="אווטאר" class="profile-image" />
        <p class="name">{{ user.full_name}}</p>
        {% else %}
        <img
          src="{% static 'images/logo.jpeg' %}"
          alt=""
          class="profile-image"
        />
        <p class="name">אורח</p>
        {% endif %}
      </div>
      <div class="menu">
        {% for item in sidebar_menu %}
        <a href="{% url 'accounts:logout' %}" class="item">
          <div class="right">
            <i class="icon {{ item.icon }}"></i>
            <p class="text">{{ item.text }}</p>
          </div>
          {% if item.alerts_count != 0 %}
          <p class="alert-count">{{ item.alerts_count }}</p>
          {% endif %}
        </a>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
