$page-bg-color: #e4ebf7;
$box-bg-color: #f2f7fd;
$text-color: #717477;

body {
  margin: 0px;
  direction: rtl;
}
.main {
  display: flex;
  .container {
    width: 100vw;
    padding-right: 180px;
    min-height: 100vh;
    background-color: $page-bg-color;
    .search-bar {
      display: flex;
      align-items: center;
      position: fixed;
      padding-bottom: 15px;
      background-color: $page-bg-color;
      i {
        position: absolute;
        color: $text-color;
        right: 10px;
        z-index: 1;
      }
      .search {
        width: calc(100vw - 180px);
        padding: 15px 35px 15px 10px;
        background-color: $box-bg-color;
        color: $text-color;
        border: none;
        unicode-bidi: initial;
        direction: rtl;
        font-weight: 600;
        font-size: 15px;
      }
    }
    .all-analysis {
      padding: 60px 15px;
      .data-bar {
        display: flex;
        max-height: 450px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        .right,
        .left {
          max-width: calc((100vw - 225px) / 2);
        }
        &:nth-child(2) {
          .right {
            display: flex;
            justify-content: space-between;
            .family {
              min-height: 260px;
              max-height: 260px;
              overflow-y: auto;
              width: calc((100vw - 225px) / 10);
              background-color: $box-bg-color;
              padding: 10px 10px 10px 15px;
              margin-left: 15px;
              position: relative;
              .top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                border-bottom: 1.5px solid $page-bg-color;
                padding-bottom: 8px;
                .title {
                  margin: 0px;
                }
                .minimize {
                  margin: 0px;
                  padding: 1px 7px;
                  background-color: $page-bg-color;
                  border-radius: 50%;
                }
              }
              .users {
                padding-top: 10px;
                .user {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  margin-bottom: 10px;
                  &.kid {
                    cursor: pointer;
                  }
                  .details {
                    display: flex;
                    align-items: center;
                    img {
                      width: 45px;
                      height: 45px;
                      border-radius: 50%;
                      margin-left: 10px;
                    }
                    .name {
                      font-family: Arial, Helvetica, sans-serif;
                    }
                  }
                  .fa-circle-star {
                    color: green;
                    font-size: 23px;
                  }
                }
              }
              .add {
                text-decoration: none;
                color: white;
                background-color: #58be57;
                padding: 7px 13px;
                border-radius: 15px;
                font-family: Arial, Helvetica, sans-serif;
                position: absolute;
                bottom: 8px;
                right: 24px;
              }
            }
          }
        }
      }
    }
  }
}
