{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="{% static 'scss/components/recent_receipt.css' %}"
    />
  </head>
  <body>
    <div class="recent-recipet">
      <div class="top">
        <p class="title">חשבונית</p>
      </div>
      <div class="middle">
        <div class="profile">
          <img src="{{user.avatar.url}}" alt="" class="image" />
          <p class="name">{{ user.full_name }}</p>
        </div>
        <div class="buy-details">
          <div class="text">
            סניף {{ recent_receipt.shop }}, {{ recent_receipt.date }}
          </div>
          <div class="search-box">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="search" placeholder="חיפוש..." />
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="receipt-details"></div>
        <table class="receipt-products">
          {% for receipt_product in recent_receipt.receipt_products %}
          <tr class="product">
            <td class="star-td">
              <form class="favorite-product" method="post">
                {% csrf_token %}
                <input
                  type="hidden"
                  name="product_id"
                  value="{{ receipt_product.product.id }}"
                />
                <button type="submit">
                  {% if receipt_product.product in user.favorite_products.all %}
                  <i class="fa-solid fa-star"></i>
                  {% else %}
                  <i class="fa-regular fa-star"></i>
                  {% endif %}
                </button>
              </form>
            </td>
            <td class="name-td">
              <p class="name">{{ receipt_product.product.name }}</p>
            </td>
            <td class="category-td">
              <p class="category">{{ receipt_product.category }}</p>
            </td>
            <td class="count-td">
              <p class="count">{{ receipt_product.count }}x</p>
            </td>
            <td class="price-td">
              <p class="price">{{ receipt_product.total_price }}₪</p>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </body>
</html>
